.spinnerContainer {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPagination {
    margin-top: 20px;
}

.filterContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}