.container {
    position: relative;

    input {
        padding-right: 37px;
    }

    .eyeFillIcon {
        display: flex;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.2s ease-out;
        width: 18px;
        height: 18px;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: translateY(-50%) scale(1.05);
        }
    }
}