.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.form {
    max-width: 500px;
    width: 100%;
}

.goBackBtn {
    position: absolute;
    left: 20px;
    top: 20px;
}