.todo {
    display: flex;
    gap: 10px;
    background-color: teal;
    padding: 5px;
    font-size: 18px;
    justify-content: space-between;
    border-radius: 4px;
    
    p {
        color: white;
    }

    button {
        border: 0;
        padding: 3px 5px;
        background-color: crimson;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}