.inputContainer {
    display: flex;
    gap: 10px;

    input {
        border: 1px solid teal;
        padding: 5px;
        width: 100%;
        border-radius: 4px;
        color: teal;

        &:focus {
            outline: 1.5px solid teal;
        }
    }

    button {
        padding: 5px 8px;
        border: 0;
        background-color: teal;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: white;
            color: teal;
            outline: 1px solid teal;
        }
    }
}