.formContainer {
    width: 100%;

    .submitBtn {
        width: fit-content;
        align-self: center;
    }

    .link {
        align-self: center;
    }
}

.qrCodeContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
        width: 100%;
    }
}